.edit-icon{
    left: unset;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

.drop-icon{
    width: 1em;
    height: 1em;
    left: unset;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
}

.delete-icon{
    top: 0.25em;
    display: none;
}
